<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CollectionKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D638A8D81F9D258E00B858E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D638A8E01F9D258E00B858E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D638A8F31F9D25AF00B858E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69EEF541F6894F5002B29E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D69EEF681F6894F5002B29E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
